
.icon-envelope-solid:before { content: '\e800'; } /* '' */
.icon-heart-solid:before { content: '\e801'; } /* '' */
.icon-child-solid:before { content: '\e802'; } /* '' */
.icon-globe-solid-(1):before { content: '\e803'; } /* '' */