i.eci{ 
display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
     }
@font-face {
 font-family: 'icons';
  src: url('fontello-240eb632.zip/fontello-240eb632/font/icons.eot?1923379184');
  src: url('fontello-240eb632.zip/fontello-240eb632/font/icons.eot?1923379184#iefix') format('embedded-opentype'),
       url('fontello-240eb632.zip/fontello-240eb632/font/icons.woff2?1923379184') format('woff2'),
       url('fontello-240eb632.zip/fontello-240eb632/font/icons.woff?1923379184') format('woff'),
       url('fontello-240eb632.zip/fontello-240eb632/font/icons.ttf?1923379184') format('truetype'),
       url('fontello-240eb632.zip/fontello-240eb632/font/icons.svg?1923379184#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.eci.icons-envelope-solid::before { content: '\e800'; font-family: 'icons'; }
.eci.icons-heart-solid::before { content: '\e801'; font-family: 'icons'; }
.eci.icons-child-solid::before { content: '\e802'; font-family: 'icons'; }
.eci.icons-globe-solid-(1)::before { content: '\e803'; font-family: 'icons'; }


@font-face {
 font-family: 'and2';
  src: url('fontello-526ca1a2.zip/fontello-526ca1a2/font/and2.eot?1227735075');
  src: url('fontello-526ca1a2.zip/fontello-526ca1a2/font/and2.eot?1227735075#iefix') format('embedded-opentype'),
       url('fontello-526ca1a2.zip/fontello-526ca1a2/font/and2.woff2?1227735075') format('woff2'),
       url('fontello-526ca1a2.zip/fontello-526ca1a2/font/and2.woff?1227735075') format('woff'),
       url('fontello-526ca1a2.zip/fontello-526ca1a2/font/and2.ttf?1227735075') format('truetype'),
       url('fontello-526ca1a2.zip/fontello-526ca1a2/font/and2.svg?1227735075#and2') format('svg');
  font-weight: normal;
  font-style: normal;
}
.eci.and2-cross-solid::before { content: '\e803'; font-family: 'and2'; }
.eci.and2-globe-solid::before { content: '\e804'; font-family: 'and2'; }


